<% provide(:title, "About") %>

<div class="jumbotron jumbotron-about">
    <h1>Who We Are</h1>  
</div>

<div class="container">
	<div class="col-xs-12" style="background-color:lavender;">
		<div class="demo-content">BLAH BLAH</div>
	</div>
	<div class="col-xs-12" style="background-color:lavenderblush;">
		<div class="demo-content">BLAH BLAH</div>
	</div>
	<div class="col-xs-12" style="background-color:lavender;">
		<div class="demo-content">BLAH BLAH</div>
	</div>
</div>
