<% provide(:title, "Contact Us") %>

<div class="container-fluid contact-main">
	<div class="col-sm-6">
		<h1>Contact Us</h1>
	</div>
</div>

<div class="container contact-info">
	<p>You can locate us at ... </p>
	<p>Or you can contact us directly using this snazzy form (which will later be implemented in rails)</p>
</div>
