<% provide(:title, "Events") %>

<div class="jumbotron jumbotron-events">
    <h1>What we do</h1>  
</div>

<br>
<center>
	<p>We hold multple events throughout the year</p>
</center>
<br>
<hr>
 
<div class="container">     
	<div class="row">

    	<div class="col-md-7">
        	<a href="#">
            	<img class="img-responsive" src="http://cdn.freethechildren.com/wp-content/uploads/2015/12/who-we-are-1.jpg" alt="">
       	 </a>
    	</div>
   	 <div class="col-md-5">
        	<h3>Event 1</h3>
        	<h4>Subheading</h4>
       	 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        	<a class="btn btn-primary" href="#">Learn More <span class="glyphicon glyphicon-chevron-right"></span></a>
    	</div>
	</div>
	<hr>
	<div class="row">
    	<div class="col-md-7 col-md-push-5">
        	<a href="#">
            	<img class="img-responsive" src="http://cdn.freethechildren.com/wp-content/uploads/2015/12/who-we-are-3.jpg" alt="">
       	 </a>
    	</div>
   	 <div class="col-md-5 col-md-pull-7">
        	<h3>Event 2</h3>
        	<h4>Subheading</h4>
       	 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        	<a class="btn btn-primary" href="#">Learn More <span class="glyphicon glyphicon-chevron-right"></span></a>
    	</div>
	</div>
	<hr>
	<div class="row">
    	<div class="col-md-7">
        	<a href="#">
            	<img class="img-responsive" src="http://cdn.freethechildren.com/wp-content/uploads/2015/12/who-we-are-4.jpg" alt="">
       	 </a>
    	</div>
   	 <div class="col-md-5">
        	<h3>Event 3</h3>
        	<h4>Subheading</h4>
       	 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        	<a class="btn btn-primary" href="#">Learn More <span class="glyphicon glyphicon-chevron-right"></span></a>
    	</div>
	</div>
</div>
