<div class="center jumbotron">
	<h1>Free the Children - UBC Club</h1>
	<h2>This is the homepage for FTC UBC</h2>

	<%= link_to "Clickable 1!", '#', class: "btn btn-lg btn-primary" %> 
	<%= link_to "Clickable 2!", '#', class: "btn btn-lg btn-primary" %> 
</div>



