<% provide(:title, "What We Do") %>

<div class="jumbotron jumbotron-events">
	<h1>What we do</h1>
	<h2>- Our Events -</h2>
</div>

<div class="container">
	<p> Free the Children hosts a number of events every year. <p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="container-fluid event-divs">
	<div class="event-div-1">
		<div class="img-responsive im1">
			<%= link_to image_tag("filler1.png", alt: "img1", size: "150x150"), '#' %>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cilclum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="btn-1">
			<%= link_to "Learn More", '#', class: "btn btn-lg btn-primary" %> 
		</div>
	</div>

	<div class="container-fluid event-div-2">
		<div class="img-responsive im2">
			<%= link_to image_tag("filler1.png", alt: "img1", size: "150x150"), '#' %>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="btn-2">
			<%= link_to "Learn More", '#', class: "btn btn-lg btn-primary" %> 
		</div>
	</div>
</div>


