<h1>Free the Children at UBC</h1>

<p>
  Hey <%= @user.name %>, 
</p>

<p>Welcome to FTC UBC! Click below to activate your account: </p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>


