<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newFundraiser">Create New Fundraiser</button>
<div id="newFundraiser" class="modal fade center" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container col-sm-4 col-sm-offset-4 new-fundraiser", style="padding-top: 15px;">
 			<%= render 'fundraisers/fundraiser_form' %>
 		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>