<% provide(:title, "Edit Article") %>

<div class="container col-sm-8 col-sm-offset-2 create-update">
 	<h2>edit update</h2>
	<div class="edit-update-form">
		<%= render 'std_article_form' %>
	</div> 	
</div>
 
