<div class="col-sm-4 center index-exec">
	<%= image_tag exec.picture, size: "100x100", class: "img-rounded" %> 
	<h3><strong><%= exec.name %></strong></h3>
	<strong><%= phrase(exec.name + '-position') %></strong>
    </br />
    <%= link_to "Unmake Executive", home_unmake_exec_path(user_id: exec.id), data: { confirm: "Remove #{exec.name} as an executive?" } %>
</div>