<!-- Partial for showing a single user. Each user on index page
is subject to this styling. -->

<li>
  <%= link_to user.name, user %>
  <%= image_tag user.picture if user.picture %>
  <% if admin? && !current_user?(user) %>
  	| <%= link_to "delete", user, 
  							method: :delete, 
  							data: { confirm: "Are you sure you want to delete #{user.name}				?" } %>
  | <%= link_to "Set as exec", user, 
  							method: user.make_exec,
  							data: { confirm: "Make #{user.name} an executive?" } %>
  <% end %>
</li>