<div class="center user-event">
	<h2><%= link_to user_event.title, events_path(user_event) %></h2>
	<% if @user == current_user %>
		<p><%= link_to "Opt out of Event", home_optout_path(event_id: user_event.id) %></p>
	<% end %>
</div>