<% provide(:title, 'All users') %>
<h1 class="center">Meet our Executive Team!</h1>

<div class="container execs">
  <% @execs.each do |exec| %>
  	<div class="col-sm-4">
  	  <%= link_to exec.name, exec %>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. </p>
	</div>
  <% end %>
</div>

<h1 class="center">And our Members!</h1>
<div class="center"><%= will_paginate %></div>

<ul class="users">
  <!-- Render each user with content in _user partial -->
  <%= render @users %>
</ul>

<div class="center"><%= will_paginate %></div>