<% provide(:title, 'All users') %>
<div class="jumbotron jumbotron-users">
	<h2>Meet our Team!</h2>
</div>
<div class="container execs">
  <%= render partial: 'exec', collection: @execs %>
</div>
<div class="center"><%= will_paginate %></div>
<div class="container users">
  <!-- Render each user with content in _user partial -->
  <%= render @users %>
</div>
<div class="center"><%= will_paginate %></div>
