<% provide(:title, "Get Involved") %>
<% provide(:form_button, 'Create my account') %>

<div class="jumbotron jumbotron-involved">
	<h1>Get Involved!</h1>
</div>

<div class="container">
	<p> FTC at UBC can be found at ... </p>
	<p> We hold meetings ... </p>
</div>

<div class="container center">
	<h3>Sign up as a new member</h3>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'std_user_form' %>
  </div>
</div>