<% provide(:title, @user.name) %> 

<div class="container center">
	<h1><%= @user.name %></h1>
	<%= image_tag @user.picture if @user.picture %>
</div>

<div class="container">
  <% if current_user == @user %>
	<h3>My upcoming events</h3>
  <% else %>
    <h3>Their Upcoming Events</h3>
  <% end %>
</div>

<% if current_user == @user %>
  <div class="container">
	<h3>Upcoming Events for Free the Children</h3>
  </div>
<% end %>