<% provide(:title, "Edit Event") %>
<% provide(:submit_button, "Update") %>

<div class="container col-sm-8 col-sm-offset-2 create-event">
 	<h2>edit event.</h2>
	<div class="edit-event-form">
		<%= render 'std_event_form' %>		
	</div> 	
 </div>
 