<% if document.public? || (!document.public? && logged_in?) %>
 <tr>
   <td><%= document.name %></td>
   <td><%= link_to document.url, document.url %></td>
   <td><% if !document.attachment_url.nil? and !document.attachment_url.empty? %>
   	<%= link_to "Download", document.attachment_url %>
   <% end %></td>
   <% if admin? %>
     <td><%= link_to "Delete",  document, 
  	 					    	 method: :delete, 
  							     class: "btn btn-danger", 
  							     confirm: "Are you sure that you wish to delete #{document.name}?" %></td>
   <% end %>
 </tr>
<% end %>