@import "bootstrap-sprockets";
@import "bootstrap";

/* CSS file for the custom styling of the site. Styles here will be 
applied globally. */


/* =================================================
================== VARIABLES =======================
===================================================*/


$white: #fff;
$lighter_gray: rgb(230,230,230);
$light_gray: #777;
$gray: #555;
$medium_gray: #eaeaea;
$dark_gray: #222;
$light_green: rgb(0,204,0);
$dark_green: rgb(0,104,0);

$ftc_blue: #00ABDB;
$ftc_green: #29B349;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* =================================================
=================== UNIVERSAL ======================
===================================================*/


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
  }
}


/* =================================================
====================== HEADER ======================
===================================================*/


.navbar {
  background-color: $white; 
  border-bottom-width: 5px;
  border-bottom-color: $ftc_green;
  padding-bottom: 0;
  .navbar-header {
    .navbar-toggle {
      border-width: 0px;
      &:hover {
        background-color: white;
        border-width: 1px;
        border-color: $ftc_green;
      }
      &:focus {
        background-color: white;
      }
      .icon-bar {
        background-color: $ftc_green;
      }
      &:onclick {
        background-color: $ftc_green;
      }     
    }
  }
  .navbar-nav {
    .open {
      a {
        &:hover {
          background-color: $ftc_green;
          color: white;
        }
        &:focus {
          background-color: $ftc_green;
        }
        &:onclick {
          background-color: $ftc_green;
        }
      }
    }
    li {
      a {
        color: $ftc_blue;
      }
      &:hover {
        background-color: $ftc_green;
      }
    }
    .dropdown-menu {
      li {
        a {
          color: $ftc_blue;
        }
      }
      #list_of_main_events {
        text-align: center;        
      }
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-top: 3px;
 }
	


/* =================================================
===================== FOOTER =======================
===================================================*/


footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid $medium_gray;
  border-width: 100%;
  color: $light_gray;
  .top {
    padding-bottom: 20px;
    #facebook_link {
      padding-left: 20px;
      &:hover {
        opacity: 0.6;
      }
    }
    .col-sm-8 {
      p {
        float: right;
      }
    }
  }
  a {
  	color: $gray;
  	&:hover {
  		color: $dark_gray;
  	}
  }
  ul {
    list-style: none;
  }
  #ctc_link {
    color: $light_green;
  }
  .right {
  	list-style: none;
  	li {
  		margin-left: 15px;
      float: right;
      b {
        margin-top: 5px;
      }
  	}
  }
  .legal {
    background-color: $lighter_gray;
    margin-left: -2%;
    margin-right: -2%;
    .col-sm-4 {
      p {
        padding-top: 10px;
      }
    }
    .col-sm-8 {
      p {
        float: right;
        padding-top: 10px;
      }
    }
  }
}


/* =================================================
=================== HOMEPAGE =======================
===================================================*/


.jumbotron-home {
  background: image-url("filler4.png");
  background-position: center;
  background-size: cover;
  color: white;
  height: 700px;
  margin-top: -0.5%;
  .container-fluid {
    padding-top: 95px;
  }
  .links {
    padding-top: 80px;
    .btn {
      margin: 15px;
      padding-left: 40px;
      padding-right: 40px;
      background-color: $ftc_blue;
      border-color: $ftc_blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.carousel-inner {
  text-align: center;
  height: 80vh;
  .slide-1 {
    background: image-url("filler1.png");
    background-size: cover;
    height: 100%;
    .carousel-caption {
      
    }
  }
  .slide-2 {
    background: image-url("filler2.png");
    background-size: cover;
    height: 100%;
    .carousel-caption {
      color: $ftc_blue;
    }
  }
  .slide-3 {
    background: image-url("filler3.png");
    background-size: cover;
    height: 100%;
    .carousel-caption {
      color: $ftc_green;
    }
  }
  .carousel-caption {
    bottom: 0%;
    transform: translateY(-50%);
    h4 {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .btn {
      background-color: yellow;
      border-color: yellow;
      color: black;
      bottom: 0;
      &:hover {
        border-color: black;
      }
    }
  }
}

.homepage-mission {
  height: 230px;
  margin-bottom: 30px;
  .container {
    background-color: white;
    text-align: center;
    color: gray;
    font-size: 150%;
    img {
      float: right;
      border-radius: 3%;
    }
    /*.col-sm-8 {
      border-style: solid;
      border-width: 0 2px 0 0;
      border-color: $ftc_green;
    */
  }
}


/* =================================================
================ WHO WE ARE ========================
===================================================*/

.jumbotron-about {
  background-image: url('https://thegatewayonline.ca/wp-content/uploads/2015/02/Opinion-Supplied-Credit-freethechildren-Free-the-Children-Story-2.jpg'); 
  height: 400px;
  margin-top: -0.5%;
  h1 {
    color: white; 
    text-align: center;
    padding-top: 50px;
    font-size: 100px;
  }
}


/* =================================================
============ WHAT WE DO ============================
===================================================*/

.jumbotron-events {
  background: image-url("filler5.png");
  height: 400px;
  margin-top: -0.5%;
  h1 {
    color: black; 
    text-align: center;
    font-size: 100px;
    margin-top: 0px;
  }
  h2 {
    color: white;
    text-align: center;
    padding-top: 70px;
  }
} 

.events-filler-top {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $lighter_gray;
  h3, p {
    color: gray;
  }
  p {
    padding-bottom: 20px;
  }
}

.events-filler-bottom {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: $lighter_gray;
  p {
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.what-we-do-info {
  h3 {
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
  }
  p {
    position: absolute;
    width: 100%;
    top: 65%;
    color: white;
  } 
  .tile {
    height: 70vh;
    &:hover {
      opacity: 0.6;
    }
  }
  img {
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 70vh;
    width: 100%;
    padding: 20px;
    /*&:hover {
      opacity: 0.6;
    }*/
  }
}


/* =================================================
============ EVENTS AND FUNDRAISERS ================
===================================================*/


.jumbotron-all-events {
  background: image-url('filler6'); 
  height: 400px;
  margin-top: -0.5%;
  h1, h2, h3 {
    color: white; 
    text-align: center;
    padding-top: 70px;
  }
} 

.jumbotron-fundraising {
  background: image-url('filler3'); 
  height: 200px;
  h1, h2, h3 {
    color: white; 
    text-align: center;
    padding-top: 40px;
  }
} 


.jumbotron-event {
  background-image: url('https://thegatewayonline.ca/wp-content/uploads/2015/02/Opinion-Supplied-Credit-freethechildren-Free-the-Children-Story-2.jpg'); 
  .event-background {
    margin-top: -50px;
    background-color: rgba(250,250,250,0.8);
    padding-bottom: 50px;
    margin-bottom: -50px;
    h1 {
      padding: 20px;
    }
    .upcoming {
      padding-bottom: 30px;
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      .btn {
        background-color: $ftc_blue;
        border-color: $ftc_blue;
        margin: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  p {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.create-event {
  h2 {
    color: $light_gray;
    padding-bottom: 20px;
  }
}

.fundraiser {
  h1 {
    padding-bottom: 20px;
    color: gray;
  }
  .col-sm-4 {
    text-align: right;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: $lighter_gray;
    h3 {
      b {
        color: $ftc_blue;
      }
    }
  }
  .col-sm-8 {
    text-align: left;
  }
  .fundraising-bar {
    padding-top: 13%;
    padding-bottom: 9%;
  }
  #fundraising-bar {
    background-color: $lighter_gray;
    border-radius: 35px;
    padding-top: 3px;
    height: 40px;
    div {
      background-color: $ftc_green;
      height: 90%;
      border-radius: 20px;
      p {
        color: white;
        padding-top: 7px;
      }
    }
  }
}

.event-show {
  margin-top: -0.5%;
  margin-bottom: -4%;
  padding-bottom: 2%;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $lighter_gray , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, $lighter_gray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, $light_gray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, $lighter_gray, white); /* Standard syntax */
  .events-sidebar {
    border-left: 1px solid gray;
    h3 {
      a {
        color: gray;
        text-decoration: underline;
        &:hover {
          color: black;
        }
      }
    }
    
  }
  .event-details {
    h2 {
      color: gray;
      font-variant: small-caps;
    }
    .btn {
      background-color: $ftc_green;
      border-color: $ftc_green;
      color: white;
      &:hover {
        background-color: white;
        border-color: $ftc_green;
        color: $ftc_green;
      }
    }
  }
}


/* =================================================
================== ARTICLES ========================
===================================================*/
 

.jumbotron-articles {
  background: image-url('filler6'); 
  height: 400px;
  margin-top: -2%;
  h1, h2, h3 {
    color: white; 
    text-align: center;
    padding-top: 70px;
  }
} 


.article-title {
  background-color: $lighter_gray;
  margin-top: -0.5%;
  padding-bottom: 10px;
  h1, h2 {
    color: gray;
    padding-left: 30px;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 1px 0;
    padding-bottom: 10px;
  }
  p {
    padding-left: 30px;
  }
}
.article-main {
  padding-top: 30px;
  p {
    text-align: justify;
    border-style: solid;
    border-color: $ftc_green;
    border-width: 1px 0 0 0;
    padding-top: 10px;
  }
  .image-holder {
    img {
      padding: 10px;
      object-fit: cover;
    }
  }
}

.article-index {
  #new-article {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.article-partial {
  border-style: solid;
  border-color: $ftc_green;
  border-width: 0 0 1px 0;
  padding-bottom: 15px;
  padding-top: 15px;
  .article-text {
    padding-left: 10px;
    
    #text {
      border-style: solid;
      border-color: $lighter_gray;
      border-width: 0 0 1px 0; 
    }
  }
  .article-picture {
    img {
      object-fit: cover;
    }
  }
}

.create-update {
  h2 {
    color: $light_gray;
    padding-bottom: 20px;
  }
}

.article-picture-uploads {
  p, strong {
    color: black;
    font-size: 12;
  }
}


/* =================================================
============== CLUB DOCUMENTS ======================
===================================================*/


.new-document {
  padding-top: 30px;
  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 20px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
}


/* =================================================
============ CONTACT PAGE ==========================
===================================================*/


.contact-main {
  padding-top: 40px;
  .col-sm-6 {
    background-color: $ftc_green;
    color: white;  
    text-align: right;
    margin-left: -20px;
  }
}

.contact-split {
  padding-top: 30px;
  .contact-form {
    border-style: solid;
    border-color: $light_gray;
    border-width: 0 1px 0 0;
    .btn {
      background-color: $ftc_blue;
      border-color: $ftc_blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/* =================================================
============ GET INVOLVED ==========================
===================================================*/

.jumbotron-involved {
  background: image-url('filler3'); 
  height: 400px;
  margin-top: -0.5%;
  h1 {
    color: white; 
    text-align: center;
    padding-top: 70px;
    font-size: 100px;
  }
} 

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.signup {
  padding-top: 20px;
  h2 {
    text-align: left;
    padding-bottom: 30px;
    padding-left: 50px;
    color: $light_gray;
  }
  .signup-plugins {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    h4 {
      color: $light_gray;
    }
    img {
      &:hover {
        opacity: 0.5;
      }
    }
    .facebook-signup {
      padding-top: 30px;
    }
    .google-signup {
      padding-top: 30px;
    }
  }
  .signup-form {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: $lighter_gray;
    border-radius: 5px;
    .btn {
      background-color: $ftc_blue;
      border-color: $ftc_blue;
      &:hover {
        text-decoration: underline;
        opacity: 0.5;
      }
    }
  }
}

input[type=file] {
  border-width: 0;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* =================================================
============ USERS =================================
===================================================*/

.jumbotron-users {
  background: image-url('filler7'); 
  height: 400px;
  margin-top: -0.5%;
  h2 {
    color: white; 
    text-align: center;
    padding-top: 70px;
  }
} 

.edit-info {
  background-color: $lighter_gray;
  border-radius: 10px;
  h2 {
    color: $light_gray;
  }
  .row {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .avatar {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  img {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: $ftc_green;
    object-fit: cover;
  }
  .btn {
    background-color: $ftc_blue;
    border-color: $ftc_blue;
    &:hover {
      opacity: 0.5;
    }
  }
}

.users {
  .index-user {
    height: 200px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 5%;
    }
    .name {
      h4 {
        a {
          color: gray;
        }    
      }
    }
  }
}

.execs {
  margin-top: 20px;
  background-color: $lighter_gray;
  border-radius: 10px;
  .index-exec {
    padding-top: 10px;
    img {
      border-radius: 50%;
    }
    h3 {
      a {
        color: $ftc_green;
      }
    }
  }
}

.user-show {
  margin-top: -0.5%;
  .user-details {
    padding-top: 10px;
    padding-bottom: 8%;
    img {
      border-radius: 3%;
      object-fit: cover;
    }
  }
  .user-about {
    color: gray;
    border-bottom: 1px solid gray;
    h4 {
      font-variant: small-caps;
    }
  }
  .user-events {
    .btn {
      background-color: $ftc_blue;
      border-color: $ftc_blue;
      color: white;
      &:hover {
        background-color: white;
        color: $ftc_blue;
      }
    }
  }
}




/* =================================================
============= LOGIN PAGE ===========================
===================================================*/


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.log-in-top {
  h2, p {
    padding-left: 20px;
  }
  img {
    float: right;
  }
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: gray;
}

.form {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $lighter_gray;
  border-radius: 10px;
  .fields {
    padding-right: 20px;
    padding-left: 20px;
  }
  .btn {
    background-color: $ftc_blue;
    border-color: $ftc_blue;
    &:hover {
      text-decoration: underline;
      opacity: 0.5;
    }
  }
}

.apis {
  padding-top: 20px;
  .social_plugins {
    padding-top: 10px;
  }
  #sign_in_facebook {
    padding-right: 5px;
    &:hover {
      opacity: 0.5;
    }
  }
  #sign_in_google {
    padding-left: 5px;
    &:hover {
      opacity: 0.5;
    }
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}




/* DEBUG ENVIRONMENT (Leave at bottom) */ 

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}













