<footer class="footer">
  <small>
    Site developed by <a href="#" id="ctclink">Code the Change - UBC</a>
  </small>
  <nav>
    <ul>
      <li><a href="#">Sitemap</a></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>