<footer class="footer">
 <div class="container">
 <ul class="ctc-left-nav">
    <li><%= link_to image_tag("ubc-ctc-logo", alt: "UBC CtC", size: "100x50"), '#', id: "ctc_logo", style: "float: center;" %></li>
    <li><small>Site developed by <a href="#" id="ctclink">Code the Change - UBC</a></small></li>
  </ul>
  <nav>
    <ul>
      <li><a href="#">Sitemap</a></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
 </div>
</footer>